In [68]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [69]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [70]:
!find "/content/drive/My Drive/Colab Notebooks/B6M1" -name "*.csv"

/content/drive/My Drive/Colab Notebooks/B6M1/FIFA2017.csv
/content/drive/My Drive/Colab Notebooks/B6M1/empleadosRETO.csv

2.-Lee el archivo CSV llamado empleadosRETO.csv y coloca los datos en un frame de Pandas llamado EmpleadosAttrition.

In [71]:
empleadosattrition = pd.read_csv("/content/drive/My Drive/Colab Notebooks/B6M1/empleadosRETO.csv")
empleadosattrition.head(10)

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,...,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition
0,50,Travel_Rarely,Research & Development,1 km,2,Medical,1,997,4,Male,...,22,4,3,80,32,1,2,4,1,No
1,36,Travel_Rarely,Research & Development,6 km,2,Medical,1,178,2,Male,...,20,4,4,80,7,0,3,2,0,No
2,21,Travel_Rarely,Sales,7 km,1,Marketing,1,1780,2,Male,...,13,3,2,80,1,3,3,0,1,Yes
3,52,Travel_Rarely,Research & Development,7 km,4,Life Sciences,1,1118,2,Male,...,19,3,4,80,18,4,3,6,4,No
4,33,Travel_Rarely,Research & Development,15 km,1,Medical,1,582,2,Male,...,12,3,4,80,15,2,4,6,7,Yes
5,47,Travel_Rarely,Research & Development,4 km,3,Life Sciences,1,1827,3,Female,...,12,3,3,80,28,4,3,11,14,No
6,22,Travel_Rarely,Research & Development,1 km,2,Life Sciences,1,872,4,Male,...,22,4,1,80,4,2,1,2,2,No
7,33,Non-Travel,Sales,16 km,3,Life Sciences,1,1681,3,Female,...,25,4,3,80,7,2,3,5,1,No
8,40,Travel_Rarely,Sales,4 km,4,Marketing,1,215,3,Male,...,11,3,1,80,15,2,2,11,2,No
9,27,Travel_Frequently,Sales,2 km,1,Life Sciences,1,1371,4,Male,...,20,4,2,80,8,3,3,2,0,No

In [72]:
empleadosattrition.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       400 non-null    int64
 1   BusinessTravel            396 non-null    object
 2   Department                400 non-null    object
 3   DistanceFromHome          400 non-null    object
 4   Education                 400 non-null    int64
 5   EducationField            400 non-null    object
 6   EmployeeCount             400 non-null    int64
 7   EmployeeNumber            400 non-null    int64
 8   EnvironmentSatisfaction   400 non-null    int64
 9   Gender                    400 non-null    object
 10  JobInvolvement            400 non-null    int64
 11  JobLevel                  400 non-null    int64
 12  JobRole                   400 non-null    object
 13  JobSatisfaction           400 non-null    int64
 14  MaritalStatus             395 non-null    object
 15  MonthlyIncome             400 non-null    int64
 16  NumCompaniesWorked        400 non-null    int64
 17  HiringDate                400 non-null    object
 18  Over18                    400 non-null    object
 19  OverTime                  400 non-null    object
 20  PercentSalaryHike         400 non-null    int64
 21  PerformanceRating         400 non-null    int64
 22  RelationshipSatisfaction  400 non-null    int64
 23  StandardHours             400 non-null    int64
 24  TotalWorkingYears         400 non-null    int64
 25  TrainingTimesLastYear     400 non-null    int64
 26  WorkLifeBalance           400 non-null    int64
 27  YearsInCurrentRole        400 non-null    int64
 28  YearsSinceLastPromotion   400 non-null    int64
 29  Attrition                 400 non-null    object
dtypes: int64(19), object(11)
memory usage: 93.9+ KB

Elimina las columnas que, con alta probabilidad (estimada por ti), no tienen relación alguna con la salida. Hay algunas columnas que contienen información que no ayuda a definir el desgaste de un empleado, tal es caso de las siguientes:
EmployeeCount: número de empleados, todos tienen un 1
EmployeeNumber: ID del empleado, el cual es único para cada empleado
Over18: mayores de edad, todos dicen “Y”
StandardHours: horas de trabajo, todos tienen “80”

In [73]:
empleadosattrition = empleadosattrition.drop(columns=['EmployeeCount', 'Over18', 'EmployeeNumber', 'StandardHours'])
empleadosattrition.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       400 non-null    int64
 1   BusinessTravel            396 non-null    object
 2   Department                400 non-null    object
 3   DistanceFromHome          400 non-null    object
 4   Education                 400 non-null    int64
 5   EducationField            400 non-null    object
 6   EnvironmentSatisfaction   400 non-null    int64
 7   Gender                    400 non-null    object
 8   JobInvolvement            400 non-null    int64
 9   JobLevel                  400 non-null    int64
 10  JobRole                   400 non-null    object
 11  JobSatisfaction           400 non-null    int64
 12  MaritalStatus             395 non-null    object
 13  MonthlyIncome             400 non-null    int64
 14  NumCompaniesWorked        400 non-null    int64
 15  HiringDate                400 non-null    object
 16  OverTime                  400 non-null    object
 17  PercentSalaryHike         400 non-null    int64
 18  PerformanceRating         400 non-null    int64
 19  RelationshipSatisfaction  400 non-null    int64
 20  TotalWorkingYears         400 non-null    int64
 21  TrainingTimesLastYear     400 non-null    int64
 22  WorkLifeBalance           400 non-null    int64
 23  YearsInCurrentRole        400 non-null    int64
 24  YearsSinceLastPromotion   400 non-null    int64
 25  Attrition                 400 non-null    object
dtypes: int64(16), object(10)
memory usage: 81.4+ KB

In [74]:
# Resumen estadístico de las columnas numéricas
print(empleadosattrition.describe())

              Age   Education  EnvironmentSatisfaction  JobInvolvement  \
count  400.000000  400.000000               400.000000      400.000000
mean    38.115000    2.920000                 2.675000        2.685000
std      8.761489    1.058963                 1.114666        0.736295
min     18.000000    1.000000                 1.000000        1.000000
25%     31.000000    2.000000                 2.000000        2.000000
50%     38.000000    3.000000                 3.000000        3.000000
75%     44.000000    4.000000                 4.000000        3.000000
max     60.000000    5.000000                 4.000000        4.000000

         JobLevel  JobSatisfaction  MonthlyIncome  NumCompaniesWorked  \
count  400.000000       400.000000     400.000000          400.000000
mean     2.162500         2.672500    6910.525000            2.870000
std      1.124391         1.119543    4898.560091            2.539532
min      1.000000         1.000000    1009.000000            0.000000
25%      1.000000         2.000000    3037.000000            1.000000
50%      2.000000         3.000000    5232.500000            2.000000
75%      3.000000         4.000000    9784.500000            4.000000
max      5.000000         4.000000   19973.000000            9.000000

       PercentSalaryHike  PerformanceRating  RelationshipSatisfaction  \
count         400.000000         400.000000                400.000000
mean           15.655000           3.187500                  2.697500
std             3.791691           0.390801                  1.097271
min            11.000000           3.000000                  1.000000
25%            13.000000           3.000000                  2.000000
50%            14.000000           3.000000                  3.000000
75%            18.000000           3.000000                  4.000000
max            25.000000           4.000000                  4.000000

       TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  \
count         400.000000             400.000000       400.000000
mean           12.082500               2.767500         2.775000
std             7.758943               1.299101         0.667449
min             0.000000               0.000000         1.000000
25%             7.000000               2.000000         2.000000
50%            10.000000               3.000000         3.000000
75%            17.000000               3.000000         3.000000
max            37.000000               6.000000         4.000000

       YearsInCurrentRole  YearsSinceLastPromotion
count          400.000000               400.000000
mean             4.505000                 2.555000
std              3.780967                 3.677742
min              0.000000                 0.000000
25%              2.000000                 0.000000
50%              3.000000                 1.000000
75%              7.000000                 4.000000
max             17.000000                15.000000

Analiza la información proporcionada, si detectaste que no se cuenta con los años que el empelado lleva en la compañía y parece ser un buen dato. Dicha cantidad se puede calcular con la fecha de contratación ‘HiringDate’.

Identificar la fila 229

In [75]:
empleadosattrition['HiringDate'].iloc[229]

'2/30/2012'

In [76]:
empleadosattrition.loc[229, 'HiringDate'] = '2/29/2012'

In [77]:
# Asegurarse de que 'HiringDate' esté en formato datetime
empleadosattrition['HiringDate'] = pd.to_datetime(empleadosattrition['HiringDate'])

# Crear la columna 'Year' con el año de contratación
empleadosattrition['Year'] = empleadosattrition['HiringDate'].dt.year

# Crear la columna 'YearsAtCompany' (años en la compañía hasta 2018)
empleadosattrition['YearsAtCompany'] = 2018 - empleadosattrition['Year']

In [78]:
empleadosattrition.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 28 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       400 non-null    int64
 1   BusinessTravel            396 non-null    object
 2   Department                400 non-null    object
 3   DistanceFromHome          400 non-null    object
 4   Education                 400 non-null    int64
 5   EducationField            400 non-null    object
 6   EnvironmentSatisfaction   400 non-null    int64
 7   Gender                    400 non-null    object
 8   JobInvolvement            400 non-null    int64
 9   JobLevel                  400 non-null    int64
 10  JobRole                   400 non-null    object
 11  JobSatisfaction           400 non-null    int64
 12  MaritalStatus             395 non-null    object
 13  MonthlyIncome             400 non-null    int64
 14  NumCompaniesWorked        400 non-null    int64
 15  HiringDate                400 non-null    datetime64[ns]
 16  OverTime                  400 non-null    object
 17  PercentSalaryHike         400 non-null    int64
 18  PerformanceRating         400 non-null    int64
 19  RelationshipSatisfaction  400 non-null    int64
 20  TotalWorkingYears         400 non-null    int64
 21  TrainingTimesLastYear     400 non-null    int64
 22  WorkLifeBalance           400 non-null    int64
 23  YearsInCurrentRole        400 non-null    int64
 24  YearsSinceLastPromotion   400 non-null    int64
 25  Attrition                 400 non-null    object
 26  Year                      400 non-null    int32
 27  YearsAtCompany            400 non-null    int32
dtypes: datetime64[ns](1), int32(2), int64(16), object(9)
memory usage: 84.5+ KB

La DistanceFromHome está dada en kilómetros, pero tiene las letras “km” al final y así no puede ser entera.

Renombra la variable DistanceFromHome a DistanceFromHome_km.


Crea una nueva variable DistanceFromHome que sea entera, es decir, solo con números.


Borra las columnas Year, HiringDate y DistanceFromHome_km debido a que ya no son útiles.

In [79]:
empleadosattrition = empleadosattrition.rename(columns={'DistanceFromHome': 'DistanceFromHome_km'})

empleadosattrition['DistanceFromHome'] = empleadosattrition['DistanceFromHome_km'].str.replace('km', '').astype(int)


empleadosattrition = empleadosattrition.drop(columns=['Year', 'HiringDate', 'DistanceFromHome_km'])

empleadosattrition.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       400 non-null    int64
 1   BusinessTravel            396 non-null    object
 2   Department                400 non-null    object
 3   Education                 400 non-null    int64
 4   EducationField            400 non-null    object
 5   EnvironmentSatisfaction   400 non-null    int64
 6   Gender                    400 non-null    object
 7   JobInvolvement            400 non-null    int64
 8   JobLevel                  400 non-null    int64
 9   JobRole                   400 non-null    object
 10  JobSatisfaction           400 non-null    int64
 11  MaritalStatus             395 non-null    object
 12  MonthlyIncome             400 non-null    int64
 13  NumCompaniesWorked        400 non-null    int64
 14  OverTime                  400 non-null    object
 15  PercentSalaryHike         400 non-null    int64
 16  PerformanceRating         400 non-null    int64
 17  RelationshipSatisfaction  400 non-null    int64
 18  TotalWorkingYears         400 non-null    int64
 19  TrainingTimesLastYear     400 non-null    int64
 20  WorkLifeBalance           400 non-null    int64
 21  YearsInCurrentRole        400 non-null    int64
 22  YearsSinceLastPromotion   400 non-null    int64
 23  Attrition                 400 non-null    object
 24  YearsAtCompany            400 non-null    int32
 25  DistanceFromHome          400 non-null    int64
dtypes: int32(1), int64(17), object(8)
memory usage: 79.8+ KB

Aprovechando los ajustes que se están haciendo, la empresa desea saber si todos los departamentos tienen un ingreso promedio similar. Genera una nuevo frame llamado SueldoPromedioDepto que contenga el MonthlyIncome promedio por departamento de los empleados y colócalo en una variable llamada SueldoPromedio. Esta tabla solo es informativa, no la vas a utilizar en el set de datos que estás construyendo.

In [80]:
SueldoPromedioDepto = empleadosattrition.groupby('Department')['MonthlyIncome'].mean().reset_index()
SueldoPromedioDepto = SueldoPromedioDepto.rename(columns={'MonthlyIncome': 'SueldoPromedio'})
SueldoPromedioDepto

               Department  SueldoPromedio
0         Human Resources     6239.888889
1  Research & Development     6804.149813
2                   Sales     7188.250000

La variable MonthlyIncome tiene un valor numérico muy grande comparada con las otras variables. Escala dicha variable para que tenga un valor entre 0 y 1.

In [81]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
empleadosattrition['MonthlyIncome'] = scaler.fit_transform(empleadosattrition[['MonthlyIncome']])
empleadosattrition['MonthlyIncome'].head()

0    0.864269
1    0.207340
2    0.088062
3    0.497574
4    0.664470
Name: MonthlyIncome, dtype: float64

Todo parece indicar que las variables categóricas que quedan sí son importantes para obtener la variable de salida. Convierte todas las variables categóricas que quedan a numéricas:

a) BusinessTravel

b) Department

c) EducationField

d) Gender

e) JobRole

f) MaritalStatus

g) Attrition

In [82]:
print(empleadosattrition['BusinessTravel'].unique())
print(empleadosattrition['Department'].unique())
print(empleadosattrition['EducationField'].unique())
print(empleadosattrition['Gender'].unique())
print(empleadosattrition['JobRole'].unique())
print(empleadosattrition['MaritalStatus'].unique())
print(empleadosattrition['Attrition'].unique())

['Travel_Rarely' 'Non-Travel' 'Travel_Frequently' nan]
['Research & Development' 'Sales' 'Human Resources']
['Medical' 'Marketing' 'Life Sciences' 'Technical Degree' 'Other'
 'Human Resources']
['Male' 'Female']
['Research Director' 'Manufacturing Director' 'Sales Representative'
 'Healthcare Representative' 'Manager' 'Sales Executive'
 'Laboratory Technician' 'Research Scientist' 'Human Resources']
['Divorced' 'Single' 'Married' nan]
['No' 'Yes']

In [83]:
empleadosattrition = pd.get_dummies(empleadosattrition, columns=['BusinessTravel', 'Department', 'EducationField', 'Gender', 'JobRole', 'MaritalStatus', 'Attrition', 'OverTime'], drop_first=True)
empleadosattrition.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 40 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                400 non-null    int64
 1   Education                          400 non-null    int64
 2   EnvironmentSatisfaction            400 non-null    int64
 3   JobInvolvement                     400 non-null    int64
 4   JobLevel                           400 non-null    int64
 5   JobSatisfaction                    400 non-null    int64
 6   MonthlyIncome                      400 non-null    float64
 7   NumCompaniesWorked                 400 non-null    int64
 8   PercentSalaryHike                  400 non-null    int64
 9   PerformanceRating                  400 non-null    int64
 10  RelationshipSatisfaction           400 non-null    int64
 11  TotalWorkingYears                  400 non-null    int64
 12  TrainingTimesLastYear              400 non-null    int64
 13  WorkLifeBalance                    400 non-null    int64
 14  YearsInCurrentRole                 400 non-null    int64
 15  YearsSinceLastPromotion            400 non-null    int64
 16  YearsAtCompany                     400 non-null    int32
 17  DistanceFromHome                   400 non-null    int64
 18  BusinessTravel_Travel_Frequently   400 non-null    bool
 19  BusinessTravel_Travel_Rarely       400 non-null    bool
 20  Department_Research & Development  400 non-null    bool
 21  Department_Sales                   400 non-null    bool
 22  EducationField_Life Sciences       400 non-null    bool
 23  EducationField_Marketing           400 non-null    bool
 24  EducationField_Medical             400 non-null    bool
 25  EducationField_Other               400 non-null    bool
 26  EducationField_Technical Degree    400 non-null    bool
 27  Gender_Male                        400 non-null    bool
 28  JobRole_Human Resources            400 non-null    bool
 29  JobRole_Laboratory Technician      400 non-null    bool
 30  JobRole_Manager                    400 non-null    bool
 31  JobRole_Manufacturing Director     400 non-null    bool
 32  JobRole_Research Director          400 non-null    bool
 33  JobRole_Research Scientist         400 non-null    bool
 34  JobRole_Sales Executive            400 non-null    bool
 35  JobRole_Sales Representative       400 non-null    bool
 36  MaritalStatus_Married              400 non-null    bool
 37  MaritalStatus_Single               400 non-null    bool
 38  Attrition_Yes                      400 non-null    bool
 39  OverTime_Yes                       400 non-null    bool
dtypes: bool(22), float64(1), int32(1), int64(16)
memory usage: 63.4 KB

Ahora debes hacer la evaluación de las variables para quedarte con las mejores. Calcula la correlación lineal de cada una de las variables con respecto al Attrition.

Selecciona solo aquellas variables que tengan una correlación mayor o igual a 0.1, dejándolas en otro frame llamado EmpleadosAttritionFinal. No olvides mantener la variable de salidaAttrition; esto es equivalente a borrar las que no cumplen con el límite.

In [84]:
# Calcular la matriz de correlación
correlation_matrix = empleadosattrition.corr()

# Filtrar las variables cuya correlación con Attrition sea mayor o igual a 0.1
attrition_correlation = correlation_matrix['Attrition_Yes'].abs()  # Usamos el valor absoluto para evitar signos negativos
selected_columns = attrition_correlation[attrition_correlation >= 0.1].index


# De empleadosattrition me vas a sacar solo las selected_columns
empleadosattrition_final = empleadosattrition[selected_columns]

In [85]:
empleadosattrition_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 16 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Age                              400 non-null    int64
 1   EnvironmentSatisfaction          400 non-null    int64
 2   JobInvolvement                   400 non-null    int64
 3   JobLevel                         400 non-null    int64
 4   JobSatisfaction                  400 non-null    int64
 5   MonthlyIncome                    400 non-null    float64
 6   TotalWorkingYears                400 non-null    int64
 7   YearsInCurrentRole               400 non-null    int64
 8   YearsAtCompany                   400 non-null    int32
 9   EducationField_Technical Degree  400 non-null    bool
 10  JobRole_Laboratory Technician    400 non-null    bool
 11  JobRole_Research Director        400 non-null    bool
 12  JobRole_Sales Representative     400 non-null    bool
 13  MaritalStatus_Single             400 non-null    bool
 14  Attrition_Yes                    400 non-null    bool
 15  OverTime_Yes                     400 non-null    bool
dtypes: bool(7), float64(1), int32(1), int64(7)
memory usage: 29.4 KB

Crea una nueva variable llamada EmpleadosAttritionPCA formada por los componentes principales del frame EmpleadosAttritionFinal. Recuerda que el resultado del proceso PCA es un numpy array, por lo que, para hacer referencia a una columna, por ejemplo, la 0, puedes usar la instrucción EmpleadosAttritionPCA[:,0]).

Agrega el mínimo número de Componentes Principales en columnas del frame EmpleadosAttritionPCA que logren explicar el 80% de la varianza, al frame EmpleadosAttritionFinal. Puedes usar la instrucción assign, columna por columna, llamando a cada unaC0, C1, etc., hasta las que vayas a agregar.

In [86]:
from sklearn.decomposition import PCA

# Normalizar los datos antes de aplicar PCA (es recomendable para PCA)
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_data = scaler.fit_transform(empleadosattrition_final)

# Aplicar PCA para explicar el 80% de la varianza
pca = PCA(n_components=0.80)  # Esto selecciona automáticamente el número de componentes para explicar el 80% de la varianza
pca_components = pca.fit_transform(scaled_data)


# Crear un DataFrame con los componentes principales
pca_df = pd.DataFrame(pca_components, columns=[f'C{i}' for i in range(pca_components.shape[1])])
pca_df.head(10)

,C0,C1,C2,C3,C4,C5,C6,C7,C8
0,4.054666,-0.200300,-2.000785,0.275624,-0.395412,0.542596,0.866389,0.324416,1.554878
1,-0.834906,-0.664423,-0.711428,0.512297,0.492995,-0.672975,0.304816,0.212683,0.216650
2,-3.801633,2.907924,-0.563628,2.143395,-0.639125,-1.395227,-1.076706,-0.398752,-0.195872
3,1.575991,0.268189,-1.145427,0.454346,0.308633,-0.051306,-0.532356,-0.637549,-1.727108
4,0.673117,1.829146,0.415680,-1.294717,-0.044833,0.016754,1.085616,-0.846336,0.285736
5,3.206765,0.420211,1.552855,-1.487249,-0.599443,0.167131,-0.308679,0.615087,-1.177164
6,-1.514919,-0.927943,0.218071,0.785389,-0.777676,1.389527,-0.237344,0.718527,1.658783
7,-0.546889,-0.431524,0.603610,-0.379490,-1.146503,0.678339,1.214534,-0.714313,0.684423
8,1.875940,-0.689271,1.276465,0.531286,-0.077154,1.103580,-0.567686,0.253497,0.080523
9,-1.058684,0.192886,0.063864,0.874184,-0.734758,2.683308,-1.659913,0.450628,0.708450

In [87]:
# Agregar los componentes principales al DataFrame original de empleadosattrition_final
empleadosattrition_final = empleadosattrition_final.reset_index(drop=True)  # Asegurarse de que el índice esté alineado
empleadosattrition_final = pd.concat([empleadosattrition_final, pca_df], axis=1)
empleadosattrition_final.head(10)

,Age,EnvironmentSatisfaction,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,TotalWorkingYears,YearsInCurrentRole,YearsAtCompany,EducationField_Technical Degree,...,OverTime_Yes,C0,C1,C2,C3,C4,C5,C6,C7,C8
0,50,4,3,4,4,0.864269,32,4,5,False,...,False,4.054666,-0.200300,-2.000785,0.275624,-0.395412,0.542596,0.866389,0.324416,1.554878
1,36,2,3,2,2,0.207340,7,2,3,False,...,False,-0.834906,-0.664423,-0.711428,0.512297,0.492995,-0.672975,0.304816,0.212683,0.216650
2,21,2,3,1,2,0.088062,1,0,1,False,...,False,-3.801633,2.907924,-0.563628,2.143395,-0.639125,-1.395227,-1.076706,-0.398752,-0.195872
3,52,2,3,3,2,0.497574,18,6,8,False,...,False,1.575991,0.268189,-1.145427,0.454346,0.308633,-0.051306,-0.532356,-0.637549,-1.727108
4,33,2,3,3,3,0.664470,15,6,7,False,...,True,0.673117,1.829146,0.415680,-1.294717,-0.044833,0.016754,1.085616,-0.846336,0.285736
5,47,3,2,3,2,0.491668,28,11,22,False,...,True,3.206765,0.420211,1.552855,-1.487249,-0.599443,0.167131,-0.308679,0.615087,-1.177164
6,22,4,2,2,4,0.198587,4,2,2,False,...,False,-1.514919,-0.927943,0.218071,0.785389,-0.777676,1.389527,-0.237344,0.718527,1.658783
7,33,3,3,2,4,0.229857,7,5,6,False,...,True,-0.546889,-0.431524,0.603610,-0.379490,-1.146503,0.678339,1.214534,-0.714313,0.684423
8,40,3,2,3,4,0.519194,15,11,12,False,...,False,1.875940,-0.689271,1.276465,0.531286,-0.077154,1.103580,-0.567686,0.253497,0.080523
9,27,4,1,2,4,0.214195,8,2,6,False,...,False,-1.058684,0.192886,0.063864,0.874184,-0.734758,2.683308,-1.659913,0.450628,0.708450

Guarda el set de datos que has formado y que tienes en EmpleadosAttritionFinal en un archivo CSV llamado EmpleadosAttritionFinal.csv. Las últimas columnas que colocaste quedarán después de la variable Attrition, lo cual no importa, pero si gustas lo puedes arreglar antes de escribir el archivo.

In [89]:
empleadosattrition_final.to_csv('EmpleadosAttritionFinal.csv', index=False)